.btn {
  height: 50px;
  position: relative;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: @green;
  font-size: 15px;
  letter-spacing: 0.01em;
  border: 1px solid @green;
  border-radius: 5px;
  
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 8px;
    height: 14px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOAQMAAAAomM/VAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxMzggNzkuMTU5ODI0LCAyMDE2LzA5LzE0LTAxOjA5OjAxICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+IEmuOgAAAARnQU1BAACxjwv8YQUAAAABc1JHQgCuzhzpAAAABlBMVEUAAAABk5F5wanzAAAAAXRSTlMAQObYZgAAACBJREFUCNdjOMDwgKGAwYJBhoGPgR0I+YAsC6DIA4YDAEVYBPPumDwnAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-out 0.3s;
  }
  
  &:hover::after {
    right: 10px;
    transition: ease-out 0.3s;
  }
}
