.feedback {
  padding-top: 85px;
  padding-bottom: 75px;
  
  p {
    font-size: 12px;
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .feedback__title {
    margin-top: 0;
    margin-bottom: 43px;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.05em;
  }
  
  .feedback__item p {
    font-size: 15px;
  }
}

.feedback__list {
  width: 870px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.feedback__item {
  width: 33%;
  padding-top: 62px;
  position: relative;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: center;
  
  address,
  a {
    color: @green;
    font-style: normal;
  }
  
  a:hover,
  a:active {
    text-decoration: underline;
  }
  
  p {
    color: #c0c4cf;
    margin: 0;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  &--mail::before {
    width: 20px;
    height: 16px;
    background-image: url(../img/icon-mail.svg);
  }
  
  &--phone::before {
    width: 25px;
    height: 25px;
    top: -5px;
    background-image: url(../img/icon-phone.svg);
  }
  
  &--address::before {
    width: 27px;
    height: 27px;
    top: -5px;
    background-image: url(../img/icon-location-red.svg);
  }
}

.feedback__link {
  margin-top: -15px;
  margin-bottom: 60px;
  display: block;
  text-align: center;
  color: @green;
  font-size: 15px;
  
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.feedback__form {
  width: 545px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.feedback__number,
.feedback__text,
.feedback__input {
  width: 100%;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid @green;
  
  &::placeholder {
    opacity: 1;
  }
}

.feedback__input {
  height: 33px;
  margin-bottom: 20px;
}

.feedback__text {
  height: 122px;
  min-height: 122px;
  margin-bottom: 40px;
  padding: 10px;
  outline: none;
}

.feedback__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__number {
  width: 179px;
  height: 33px;
  padding: 0 15px;
}

.feedback__btn {
  width: 120px;
  height: 33px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: @green;
  border-radius: 5px;
  
  &:hover,
  &:active {
    opacity: 0.85;
  }
}
