.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  &--internal {
    position: relative;
    background-image: linear-gradient(to right, #000c3d 0%, #2b47af 70%);
  }
}

.header__langs {
  position: absolute;
  right: 20px;
  top: 28px;
  display: flex;
}

.header__lang {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 36px;
  height: 36px;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: @blue;
  text-align: center;
  line-height: 1;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0);
  .transition();
  
  &:hover,
  &:active {
    color: #fff;
    .transition();
  }
  
  &--active {
    color: #fff;
    border-color: #fff;
  }
}
