.subscribe {
  padding-top: 125px;
  padding-bottom: 125px;
  color: #fff;
  background-color: @green;
  background-image: url(../img/bg-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  .title {
    margin-bottom: 25px;
  }
}
